h1 Creer une grille css
.content
    .row
        .col-12.col-m-1
            |col 1
        .col-12.col-m-1
            |col 1
        .col-12.col-m-1
            |col 1
        .col-12.col-m-1
            |col 1
        .col-12.col-m-1
            |col 1
        .col-12.col-m-1
            |col 1
        .col-12.col-m-1
            |col 1
        .col-12.col-m-1
            |col 1
        .col-12.col-m-1
            |col 1
        .col-12.col-m-1
            |col 1
        .col-12.col-m-1
            |col 1
        .col-12.col-m-1
            |col 1
        // 12 * 1
.content
    .row
        .col-12.col-m-2
            |col 2
        .col-12.col-m-2
            |col 2
        .col-12.col-m-2
            |col 2
        .col-12.col-m-2
            |col 2
        .col-12.col-m-2
            |col 2
        .col-12.col-m-2
            |col 2
        //6*2

.content
    .row
        .col-12.col-m-3
            |col 3
        .col-12.col-m-3
            |col 3
        .col-12.col-m-3
            |col 3
        .col-12.col-m-3
            |col 3
        //4*3
        .col-12.col-m-4
            |col 4
        .col-12.col-m-4
            |col 4
        .col-12.col-m-4
            |col 4
        //3*4
        .col-12.col-m-6
            |col 6
        .col-12.col-m-6
            |col 6
        //3*4
