ul.collection.with-header
  li.collection-header
    h4 First Names
  li.collection-item
    div
      span.content
        | Alvin
      span.secondary-content
        span.done.action
          i.material-icons check
        span.edit.action
          i.material-icons.blue-text.text-lighten-1 edit
        span.remove.action
          i.material-icons.red-text.text-lighten-1 clear
