extends ../_layouts/wrapper
block content
  h1 Todos
    a.waves-effect.waves-light.btn.addListBtn
      i.material-icons.right add
      | Add List

  .input-field.col.s6
    input#first_name2.validate.listTitle(value='Alvin', type='text')
    label.active(for='first_name2') First Name
  .row
    .col.s6.push-m3
      include ../_layouts/todos/tabsLinks
      //include ../_layouts/todos/tabsContent
